In [2]:
##Used when i was orginally thinking of using 
##Content based filtering

import re
import pandas as pd 

data = pd.read_csv("movies.csv")
  
# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
  
# new data frame with split value columns 
new = data["genres"].str.split("|", n = 1, expand = True) 
# making seperate first name column from new data frame 
data["genre2"]= new[0] 
# making seperate last name column from new data frame 
data["genre1"]= new[1] 
data.drop(columns =["genres"], inplace = True)

In [19]:

'''
Combine the movies and links 
Get the link for each movie
'''
#read in movie csv file
movies = pd.read_csv("movies.csv")
links = pd.read_csv("links.csv")
links['tmdbId'] = links['tmdbId'].fillna(0.0).astype(int)

#Merge the two data sets on movieID
merged = pd.merge(links, movies, on='movieId')
import urllib

from urllib.request import urlopen
import json

a = input("input tmdbid")

response = urlopen('https://api.themoviedb.org/3/movie/'+a+'?api_key=69c1026aa20e6449c7a0f74f69dffd7d')
html = response.read()
jdata = json.loads(html)
#print(html)
print(jdata)
#https://www.themoviedb.org/movie/
#get the genre

#input 862 for toy stor

input tmdbid862
{'adult': False, 'backdrop_path': '/dji4Fm0gCDVb9DQQMRvAI8YNnTz.jpg', 'belongs_to_collection': {'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}, 'budget': 30000000, 'genres': [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}], 'homepage': 'http://toystory.disney.com/toy-story', 'id': 862, 'imdb_id': 'tt0114709', 'original_language': 'en', 'original_title': 'Toy Story', 'overview': "Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.", 'popularity': 25.184, 'poster_path': '/rhIRbceoE9lR4veEXuwCC2wARtG.jpg', 'production_companies': [{'id': 3, 'logo_path': '/1TjvGVDMYsj6JBxOAkUHpPEwLf7.png', 'name': 'Pixar', 'origin_country': 'US'}], 'production_countries': [{'iso_3166_1': 'US', 'name': 'United States of America'}], 'release_date': '1995-10-30', 'revenue': 373554033, 'runtime': 81, 'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}], 'status': 'Released', 'tagline': '', 'title': 'Toy Story', 'video': False, 'vote_average': 7.9, 'vote_count': 9648}

In [21]:
#merged= merged.drop(columns='imdbId')
#merged= merged.drop(columns='genres')

merged

,movieId,tmdbId,title,genres
0,1,862,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,8844,Jumanji (1995),Adventure|Children|Fantasy
2,3,15602,Grumpier Old Men (1995),Comedy|Romance
3,4,31357,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,11862,Father of the Bride Part II (1995),Comedy
5,6,949,Heat (1995),Action|Crime|Thriller
6,7,11860,Sabrina (1995),Comedy|Romance
7,8,45325,Tom and Huck (1995),Adventure|Children
8,9,9091,Sudden Death (1995),Action
9,10,710,GoldenEye (1995),Action|Adventure|Thriller
10,11,9087,"American President, The (1995)",Comedy|Drama|Romance
11,12,12110,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,21032,Balto (1995),Adventure|Animation|Children
13,14,10858,Nixon (1995),Drama
14,15,1408,Cutthroat Island (1995),Action|Adventure|Romance
15,16,524,Casino (1995),Crime|Drama
16,17,4584,Sense and Sensibility (1995),Drama|Romance
17,18,5,Four Rooms (1995),Comedy
18,19,9273,Ace Ventura: When Nature Calls (1995),Comedy
19,20,11517,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,8012,Get Shorty (1995),Comedy|Crime|Thriller
21,22,1710,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,9691,Assassins (1995),Action|Crime|Thriller
23,24,12665,Powder (1995),Drama|Sci-Fi
24,25,451,Leaving Las Vegas (1995),Drama|Romance
25,26,16420,Othello (1995),Drama
26,27,9263,Now and Then (1995),Children|Drama
27,28,17015,Persuasion (1995),Drama|Romance
28,29,902,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,37557,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
...,...,...,...,...
9712,188189,424781,Sorry to Bother You (2018),Comedy|Fantasy|Sci-Fi
9713,188301,363088,Ant-Man and the Wasp (2018),Action|Adventure|Comedy|Fantasy|Sci-Fi
9714,188675,483184,Dogman (2018),Crime|Drama
9715,188751,458423,Mamma Mia: Here We Go Again! (2018),Comedy|Romance
9716,188797,455980,Tag (2018),Comedy
9717,188833,297725,The Man Who Killed Don Quixote (2018),Adventure|Comedy|Fantasy
9718,189043,447682,Boundaries (2018),Comedy|Drama
9719,189111,525662,Spiral (2018),Documentary
9720,189333,353081,Mission: Impossible - Fallout (2018),Action|Adventure|Thriller
9721,189381,500475,SuperFly (2018),Action|Crime|Thriller
9722,189547,111196,Iron Soldier (2010),Action|Sci-Fi
9723,189713,487558,BlacKkKlansman (2018),Comedy|Crime|Drama
9724,190183,445651,The Darkest Minds (2018),Sci-Fi|Thriller
9725,190207,79159,Tilt (2011),Drama|Romance
9726,190209,487541,Jeff Ross Roasts the Border (2017),Comedy
9727,190213,364002,John From (2015),Drama
9728,190215,479871,Liquid Truth (2017),Drama
9729,190219,48610,Bunny (1998),Animation
9730,190221,460631,Hommage à Zgougou (et salut à Sabine Mamou) (2...,Documentary
9731,191005,432985,Gintama (2017),Action|Adventure|Comedy|Sci-Fi
9732,193565,71172,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi
9733,193567,255413,anohana: The Flower We Saw That Day - The Movi...,Animation|Drama
9734,193571,297825,Silver Spoon (2014),Comedy|Drama
9735,193573,333623,Love Live! The School Idol Movie (2015),Animation
9736,193579,360617,Jon Stewart Has Left the Building (2015),Documentary
9737,193581,432131,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,445030,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,479308,Flint (2017),Drama
9740,193587,483455,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,37891,Andrew Dice Clay: Dice Rules (1991),Comedy

In [11]:
#a = input("input tmdbid")
mId = a
genres = jdata['genres']
overvi = jdata['overview']
lang = jdata['original_language']
release_date = jdata['release_date']

gen = []
movie_id = []

''' Give the genres seperate DF'''

for i in range(len(genres)):
    #print(genres[i]['name'])
    gen.append(str(genres[i]['name']))
    movie_id.append(mId) 

df = pd.DataFrame(gen)
df.rename(columns={0: 'genre'}, inplace=True)
df2 = pd.DataFrame(movie_id)
df2.rename(columns={0: 'tmdbId'}, inplace=True)
frame = [df,df2]
readable_cont = pd.concat(frame,axis=1)
#readable_cont.columns['genre','tmdbId']

#readable_cont.rename(index=str, columns={0: "a", 0: "c"}, inplace=True)
readable_cont

       genre tmdbId
0  Animation    862
1     Comedy    862
2     Family    862

In [71]:
mId = a
tmdb_id = []
lang_df = []

#for j in range(len(merged)):
#Just do for first 10 to make sure it works
for j in range(10):

    mId = merged['tmdbId'][j]
    response = urlopen('https://api.themoviedb.org/3/movie/'+str(mId)+'?api_key=69c1026aa20e6449c7a0f74f69dffd7d')
    html = response.read()
    jdata = json.loads(html)
    lang = jdata['original_language']
    lang_df.append(lang)
    tmdb_id.append(mId)
    df = pd.DataFrame(lang_df)
    df.rename(columns={0: 'Lang'},  inplace=True)
    df2 = pd.DataFrame(tmdb_id)
    df2.rename(columns={0: 'tmdbId'}, inplace=True)
    frame = [df,df2]
    #read_cont.columns['Overview','tmdbId']
    read_cont = pd.concat(frame,axis=1)
    #read_cont.columns['Overview','tmdbId']
    #read_cont.rename(index=str, columns={0: "a", 0: "c"}, inplace=True, )
read_cont

  Lang  tmdbId
0   en     862
1   en    8844
2   en   15602
3   en   31357
4   en   11862
5   en     949
6   en   11860
7   en   45325
8   en    9091
9   en     710

In [70]:
overview_df = []
tmdb_id = []
release_date_df = []

#for j in range(len(merged)):
#Just do for first 10 to make sure it works
for j in range(10):

    mId = merged['tmdbId'][j]
    response = urlopen('https://api.themoviedb.org/3/movie/'+str(mId)+'?api_key=69c1026aa20e6449c7a0f74f69dffd7d')
    html = response.read()
    jdata = json.loads(html)
    release_date = jdata['release_date']
    release_date_df.append(release_date)
    tmdb_id.append(mId)
    df = pd.DataFrame(release_date_df)
    df.rename(columns={0: 'Release Date'},  inplace=True)
    df2 = pd.DataFrame(tmdb_id)
    df2.rename(columns={0: 'tmdbId'}, inplace=True)
    frame = [df,df2]
    #read_cont.columns['Overview','tmdbId']
    read_cont2 = pd.concat(frame,axis=1)
    #read_cont.columns['Overview','tmdbId']
    #read_cont.rename(index=str, columns={0: "a", 0: "c"}, inplace=True, )
read_cont2

  Release Date  tmdbId
0   1995-10-30     862
1   1995-12-15    8844
2   1995-12-22   15602
3   1995-12-22   31357
4   1995-02-10   11862
5   1995-12-15     949
6   1995-12-15   11860
7   1995-12-22   45325
8   1995-10-27    9091
9   1995-11-16     710

In [69]:
merging = pd.merge(read_cont, read_cont2, on='tmdbId')
merging

  Lang  tmdbId Release Date
0   en     862   1995-10-30
1   en    8844   1995-12-15
2   en   15602   1995-12-22
3   en   31357   1995-12-22
4   en   11862   1995-02-10
5   en     949   1995-12-15
6   en   11860   1995-12-15
7   en   45325   1995-12-22
8   en    9091   1995-10-27
9   en     710   1995-11-16